{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_start(registrationForm) }}
	<div class="mb-3">
		{{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(registrationForm.email) }}
	</div>

	<div class="mb-3">
		{{ form_label(registrationForm.password, 'Password', {'label_attr': {'class': 'form-label'}}) }}
		{{ form_widget(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
		{{ form_errors(registrationForm.password) }}
	</div>

	<button type="submit" class="btn btn-primary">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
